.elementPage{
    display: grid;
    color:#0d429c;
    margin-top: 1.8em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
      ". details"
      "description elementBackground";
    height: calc(100vh - 18em);
    &-details{
        width: 100%;
        grid-area: details;
        display: flex;
        flex-direction: column;
        justify-content: center;
        

        &-listContainer{
            display: flex;
            flex-direction: row;
            margin-top: 2em;
            font-size: 0.9em;
            line-height: 1.8em;
        
        }
        &-list-two{
            margin-left:4em;
        }
 
    }
    &-description{
        width: 70%;
        margin: 0 auto 0 16em;
        grid-area: description;
        display: flex;
        align-items: center;
        line-height: 1.6em;
        font-size: 0.9em;
    }
    &-elementBackground{
        grid-area: elementBackground;
        position:relative;
        border-radius:30px;
        font-size: 1.2em;
        height: 400px;
        
        width: 400px;
        box-shadow:7px 4px 8px 0px gray;
        color:#FFF;
        padding:2em;
        top:2em;
        justify-self: end;
        opacity: 0.40;
        transform:rotate(-10deg);
    &-symbol{
        font-size: 10em;
        width: 100%;
        display: block;
    }
    &-atomicNumber{
        font-size:6em;
        width: 100%;
        display: block;
        text-align: right;

    }
    }

}
.elementBackground-halogen{
    background-color: #db758a;
  }
  .elementBackground-metalloid{
    background-color: #a576ac;
  }
  .elementBackground-alkali-metal{
    background-color: #b0c470;
  }
  .elementBackground-nonmetal{
    background-color: #ca4960;
  }
  .elementBackground-metal{
    background-color: #804387;
  }
  .elementBackground-noble-gas{
    background-color: #e4a3b1;
  }
  .elementBackground-transition-metal{
    background-color: #4066b2;
  }
  .elementBackground-post-transition-metal{
    background-color: #404040;
  }
  .elementBackground-alkaline-earth-metal{
    background-color: #90ae41;
  }
  .elementBackground-actinoid{
    background-color: #99add9;
  }
  .elementBackground-lanthanoid{
    background-color: #7690ca;
  }


