.cell-halogen{
    background-color: #db758a;
  }
  .cell-metalloid{
    background-color: #a576ac;
  }
  .cell-alkali-metal{
    background-color: #b0c470;
  }
  .cell-nonmetal{
    background-color: #ca4960;
  }
  .cell-metal{
    background-color: #804387;
  }
  .cell-noble-gas{
    background-color: #e4a3b1;
  }
  .cell-transition-metal{
    background-color: #4066b2;
  }
  .cell-post-transition-metal{
    background-color: #404040;
  }
  .cell-alkaline-earth-metal{
    background-color: #90ae41;
  }
  .cell-actinoid{
    background-color: #99add9;
  }
  .cell-lanthanoid{
    background-color: #7690ca;
  }