//color Variables

$backgroundBlue: #253890;
$backgroundWhite: #ffffff;
$backgroundBlack: #3e3e3e;

//Shadow

$boxShadow: 0px 9px 31px -15px;

// color Categories 

$halogen: #db758a;
$metalloid: #a576ac;
$alkali-metal: #b0c470;
$nonmetal:#ca4960;
$metal:#804387;
$noble-gas:#e4a3b1;
$transition-metal:#4066b2;
$post-transition-metal:#404040;
$alkaline-earth-metal:#90ae41;
$actinoid:#99add9;
$lanthanoid:#7690ca;