@use "src/styles/vars";
@use "src/styles/mixins";

.carrousel{
    width: 700px;
    height: 700px;
    border: 30px solid #FFF;
    border-radius: 50%;
    position: absolute;
    top:-300px;
    left:-300px;
    box-shadow: 0px 9px 25px -5px;
    transition: 1s;

    button{
        position: absolute;
        top:500px;
        right:-500px;
    }
    &-element{
        
        &[data-pos="0"]{
            height: 110px;
            background-color:transparent;
            width: 110px;
            color:transparent;
            position: absolute;
            transition:0.2s;
            right: 20px;
            z-index: 1;
            top:600px;
            left:85px;
            padding:3em;
        }
        &[data-pos="1"]{
            @include mixins.element-carrousel;
            height: 110px;
            width: 110px;
            right: 20px;
            top:600px;
            left:290px;
           
        }
        &[data-pos="2"]{
            @include mixins.element-carrousel;
            height: 140px;
            width: 140px;
            left:500px;
            top:476px;
            font-size: 1.7em;
        }
        &[data-pos="3"]{
            @include mixins.element-carrousel;
            height: 110px;
            width: 110px;
            right: 20px;
            top:290px;
            left:600px;
        }
        &[data-pos="4"]{
            top:90px;
            left:600px;
            height: 110px;
            background-color:transparent;
            color:transparent;
            width: 110px;
            transition:0.2s;
            position: absolute;
            z-index: 1;
        }
        &-symbol{
            font-size: 2em;
            width: 100%;
            display: block;
            height: 50%;
        }
        &-atomicNumber{
            font-size:1em;
            width: 100%;
            display: block;
            text-align: right;
            height: 50%;
        }
    }
}
  .carrousel-element-halogen{
    background-color: #db758a;
  }
  .carrousel-element-metalloid{
    background-color: #a576ac;
  }
  .carrousel-element-alkali-metal{
    background-color: #b0c470;
  }
  .carrousel-element-nonmetal{
    background-color: #ca4960;
  }
  .carrousel-element-metal{
    background-color: #804387;
  }
  .carrousel-element-noble-gas{
    background-color: #e4a3b1;
  }
  .carrousel-element-transition-metal{
    background-color: #4066b2;
  }
  .carrousel-element-post-transition-metal{
    background-color: #404040;
  }
  .carrousel-element-alkaline-earth-metal{
    background-color: #90ae41;
  }
  .carrousel-element-actinoid{
    background-color: #99add9;
  }
  .carrousel-element-lanthanoid{
    background-color: #7690ca;
  }

